name: Generate sitemap.xml

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  sitemap:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate sitemap
        uses: cicirello/generate-sitemap@v1
        with:
          base-url-path: https://civicthreat.us
          sitemap-format: xml
          sitemap-filename: sitemap.xml
          max-depth: 10
          exclude-paths: |
            .github
            node_modules
            README.md
            LICENSE
            **/*.map

      - name: Commit sitemap.xml
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: update sitemap.xml"
          file_pattern: sitemap.xml
